.button:hover {
    cursor: pointer;
}

.foto-title img {
    width: 100%;
}

body {
    max-width: 980px;
    margin: auto;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.menu {
    display: none;
}

nav {
    position: relative;
}

.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 50%;
    padding-left: 0;
    background-color: gainsboro;
    opacity: 0.9;
    font-size: 2rem;
    right: 0;
    left: 0;
}

nav .menu a {
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 10px;
    border: 1px solid gray;
}

.menu li {
    list-style: none;
}

.button {
    display: block;
    margin-right: 10px;
    margin-left: auto;
    padding: 0px;
    border-radius: 1px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

nav .menu a:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    
    .button {
        display: none;
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        font-size: 2rem;
        background-color: white;

    }

    nav .menu li {
        list-style: none;
        border: none;
        padding: 0;

    }

    nav .menu a {
        border: 1px solid transparent;
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    nav .menu a:hover {
        border: 1px solid black;
        background-color: gainsboro;
        cursor: pointer;
    }
}
